<section class='section'>
  <container class='container'>
    <div class='columns is-centered'>
      <div class='column is-4'>
        <p>Check your email</p>
      </div>
    </div>
  <container class='container'>
</section>
