<section class='hero is-link'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <h1 class='title'>
        Welcome to EventManager
      </h1>
      <h2 class='subtitle'>
        A smart app helps you to manage your event participants
      </h2>
    </div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class='columns'>
      <div class='column is-7 is-offset-1'>
        <div class='content'>
          <h3 class='title is-3'>What this app actualy does?</h3>
          <p>Allow people to show interests of your event, easy to estimate participants</p>
          <p>Allow people to check-in/check-out at your event, see who actually showed up</p>
          <p>You can download participant list afterwards and send thank you emails</p>
        </div>
      </div>
      <div class='column is-4'>
        <h4 class='subtitle is-4'>Sign Up Now</h4>
<<<<<<< HEAD
        <%= link_to 'Sign Up','', class: 'button is-link is-outlined'%>
      </div>
    </div>
  </div>
</section>
=======
        <%= link_to 'Sign Up', signup_path, class: 'button is-link is-outlined'%>
      </div>
    </div>
  </div>
</section>
>>>>>>> set up home page
